# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
venv/
env/
.venv/

# =========================
# Environment
# =========================
.env
.env.local

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Redis
# =========================
redis-server/
Redis/dump.rdb

# =========================
# Windows
# =========================
Thumbs.db
.DS_Store